[advice]
  addIgnoredFile = false
[color]
  branch = auto
  decorate = auto
  diff = auto
  grep = auto
  interactive = auto
  pager = true
  showbranch = auto
  status = auto
  ui = true
[color "branch"]
  remote = yellow
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[core]
  autocrlf = input
  editor = vi
  filemode = true
  sshCommand = /usr/bin/ssh
  untrackedCache = true  # test it with: git update-index --test-untracked-cache, see: git-status(1)
[diff]
  colorMoved = zebra
[fetch]
  prune = true
#   pruneTags = true
[git-extras]
  default-branch = main
[help]
  autocorrect = 0
[http]
  postBuffer = 157286400
[init]
  defaultBranch = main
  templateDir = /etc/git/template
[pager]
  branch = false
  tag = false
[pull]
  rebase = false
[push]
  default = current
[receive]
  denyNonFastForwards = true
  fsckObjects = true
[tag]
  sort = creatordate
[user]
  name = root
  email = root@example.com
  username = root
